html{
 background-color: white;
 /* background-color: #FFFCE1; */
  font-family: sans-serif;
}

body{
  width: 100%;
  margin:auto;
  font-size:18px;
  /*overflow: hidden;*/
}

#name{
	position: fixed;
  bottom: 95%;
	margin-left: 1%;
	z-index: 1;
	font-size: 20px;

}

#imglogo{
	width: 50%;
	height: 50%;
	margin-top: 7%;
  margin-bottom: 4%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#mainHeader nav{
	background-color: /*#78B186*/ #759E88;
	list-style: none;
	position: fixed;top: .4px;
	/*padding-top: 1px;
	padding-bottom: 1px;*/
  margin-bottom: 10%;
	float:right;
	width:100%;
	line-height: 30px;

}

#mainHeader nav li{
	display: inline-block;
	float:left;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
/*	border-left: 1px solid #555;
	border-right: 1px solid #555;*/
}


#mainHeader nav #home{
	margin-left: 64%;
}

/*#mainHeader nav .activePage{
	background-color:#92CC9F;
}*/

h1{
	text-align: center;
}

#hide{
	visibility: hidden;
}

#about{
	height: 98%;
	padding: 5% 10%;
	/*padding: 0.5% 0.5%;*/
	background-color: #E0EAE9;
}

#research{
	margin-left: 1%;
	margin-top: 5%;
	/*margin-bottom: 5%;
*/	text-align: center;
	vertical-align: middle;
	line-height: 90px;
  text-align: center;
}

.padding{
	float: auto;
}

.padding:hover img {
  transform: scale(1.7);
}

#budget{
	padding: 2% 10%;
	/*margin-top: 5%;
	margin-bottom: 20%; */
	background-color: /*#78B186*/ #E0EAE9;
	/*padding-bottom: 11%;*/
}

#budgetTitle{
	text-align: center;
	vertical-align: middle;
	padding-bottom: 2%;
}

#contact{
	margin-left: 1%;
	margin-top: 20%;
	margin-bottom: 16%;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

#footer{
	background-color: #759E88;
	position: relative;
  top: 18px;
  padding:1% 0;
  text-align:center;
}

header nav li a, header nav li a:link, header nav li a:visited{
	color: black;
	height: 30px;
	padding: 10px 15px;
	text-decoration: none;
}

header nav li a:hover, header nav li a:active, header nav li .activePage a:link, header nav .activePage a:visited{
	background-color:#E0EAE9;
}


/*this is the @media*/

@media only screen and (min-width:150px) and (max-width:760px) {


/*li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #92CC9F;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
/*#dropdown{
height:140px;
		margin-top:0;
		width:100%;
		position: fixed; bottom: 67.7%; right: 0.5px;
}
*/
	body{
		width:98%;
		font-size: 15px;
	}

	#mainHeader img{
		width: 100%;
		height: auto;
		margin: 2% 0;
	}

	#imglogo{

	width: 50%;
	height: 50%;
	padding-top: 5%;
	display: block;
	margin-top: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50%;
}

	#name{
		font-size: 0px;
	}

	#mainHeader nav{
		height:140px;
		margin-top:0;
		width:100%;
		position: fixed; bottom: 67.7%; right: 0.5px;
		text-align:center;

	}

	#mainHeader nav li{
	  display:block;
		float:none;
		width:100%;
		height: 23%;
		margin-left:0;
		/*background-color: #78B186;*/
		font-size: 15px;
	}

	#mainHeader nav #home{
		margin-left: 0;
		width: 100%;
  	}

	#mainContent #content{
		width:98%;
		margin-top:10px;
	}

	#mainContent #asides{
		width:98%;
		margin-top:10px;
	}

	#contact{
   	   width:98%;
   	   margin-top:10px;
	 }

	header nav li a, header nav li a:link, header nav li a:visited{
		color:black;
		height:30px;
		padding: 2.5px 0;
		text-decoration:none;
		display:block;
	}

  #mainFooter{
    margin-top:0;
  }


.padding{
	float: auto;
}

.padding:hover img {
  transform: scale(2.5);
}
